<h1>Listing Lucrative Advertisement Combination</h1>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Size</th>
    <th>Price</th>
  </tr>
  </thead>

  <tbody>
  <% @results.each do |result| %>
      <tr>
        <td><%= result.values[0]["id"] %></td>
        <td><%= result.keys[0] %></td>
        <td><%= result.values[0]["price"] %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', advertisements_path %>